:root {
  --color-main: #3f51b5;

  --color-dark-900: #000;
  --color-dark-700: #171717;

  --color-grey: grey;

  --color-light-100: #fff;


  --color-danger-100: #ff8099;
  --color-danger-300: #F8346B;
  --color-danger-500: #cc1439;
  --color-danger-700: #990f2b;
  --color-danger-900: #660a1d;

  --color-accent-100: #bea6ff;
  --color-accent-300: #a280ff;
  --color-accent-500: #8c61ff;
  --color-accent-700: #704ecc;
  --color-accent-900: #382766;
}
