:root {
  --color-main: #3f51b5;

  --color-dark-900: #000;


  --color-light-100: #fff;

  --color-accent-100: #bea6ff;
  --color-accent-300: #a280ff;
  --color-accent-500: #8c61ff;
  --color-accent-700: #704ecc;
  --color-accent-900: #382766;
}
