<mat-sidenav-container class="aside">

  <div class="admin-info">
    <mat-icon class="icon" color="primary">account_circle</mat-icon>
    <div class="admin-info-container">
      <h4 class="admin-name">Admin</h4>
      <div class="admin-email">mail.com</div>
    </div>
  </div>
  <hr class="line">
  <div class="block-title">Admin</div>
  <mat-nav-list>
    @for (item of adminLinks; track item.title) {
      <a mat-list-item [routerLink]="[item.link]" >
        <div class="list-item">
          <mat-icon class="icon" color="primary">{{item.iconName}}</mat-icon>
          <span>{{item.title}}</span>
        </div>
      </a>
    }
  </mat-nav-list>

  <div class="block-title">User</div>
  <mat-nav-list>
    @for (item of userLinks; track item.title) {
      <a mat-list-item [routerLink]="[item.link]" >
          <div class="list-item">
            <mat-icon class="icon" color="primary">{{item.iconName}}</mat-icon>
            <span>{{item.title}}</span>
          </div>
        </a>
    }
  </mat-nav-list>

</mat-sidenav-container>
